@charset "utf-8";
/* CSS Document */
/*
div {
	border: 1px solid #0099CC;
}
*/
.wrapper {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}


	 
.header img {
	float: left;
	text-decoration: none;
}



.headtag {

	margin-left: 10px;
}		
	

.wrapper .header {
	overflow: hidden;
}

.header {
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #622da7;
		
}


body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-position:center;
		
}


.breadcrumbs {
	font-size: 12px;
	background-color: #f6efff;
	
}
	
 .breadcrumbshome a{
	margin-left: 2px;
	padding-left:1px;
	text-decoration: none;
	color: #000;	
}
	


.nav {
	float: left;
	padding-top: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 70px;
	margin-right: 10px;
	margin-left: 0px;
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #000;
	text-decoration: none;
	list-style-type: none;
	background-color: #FFF;
}

.nav ul li {
	font-size: 15px;
	text-decoration: none;
}

.nav a, .nav ul li a {
	text-decoration: none;
	color: #000;
}



	
.nav .youarehere, .youarehere a {
	color: #9957e5;
}

.secondary-nav  {
	list-style: none;
	text-decoration: none;
}


h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: normal;
	font-weight: normal;
	margin-bottom: 5px;
	margin-left: 30px;
	margin-top: 50px;
}



h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-left: 0px;
	margin-left: 10px;	
}




.footer {
	margin-top: 8px;
	padding-top: 5px;
	padding-left: 0px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #622da7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	
}
 

.footer a {
	text-decoration: none;
	color: #000;
}


/*homepage*/


.content {
	border: 8px solid #d49fd6;
	margin-top: 8px;	
}
 .subcontent {
	background-color: #f6efff;
	margin-left: 180px;
	padding-bottom: 40px;
	padding-top: 2px;


	
}



.subcontent ul {
		padding-left: 10px;
		padding-bottom: 0px;
		margin-left: 30px;
}

.subcontent p {
	padding-top: 2px;
	padding-left: 5px;
	margin-left: 5px;
	
	
	
}

.writtencontent {
	background-color: #FFF;
	margin-left: 30px;
	margin-right: 175px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}


.subcontent .writtencontent1 {
	margin-right: 100px;
	margin-left: 10px;
	padding-right: 80px;
	padding-left: 31px;
}



 .home_images {
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 0px;
	padding-top: 1px;
	padding-bottom: 200px;
	padding-left: 10px;
		
 }


.home_individual1 a img {
	float: left;
	margin-top: 9px;
	border: thin solid #000;
	
}


.home_individual2 a img {
	float: left;
	margin-top: 9px;
	margin-left: 9px;
	border: thin solid #000;
		
}

.home_individual3 a img {
	float: left;
	margin-top: 9px;
	margin-bottom: 2px;
	margin-left: 9px;
	border: thin solid #000;
}


/*recognize page*/

.tagline { /*this will apply to what to do, take action, awareness and facts page*/
	margin-top: 30px;
	margin-left: 30px;
	padding-top: 9px;
	font-size: medium;
}

.subcontent .recognize img {
	float: right;
	margin-top: 48px;
	margin-right:20px;
	padding-top: 5px;
	padding-right: 5px;
	
	

}
.allpagecontent ul  {
	margin-right: 200px;
	padding-right: 215px;
	padding-left: 30px;

	
}
.allpagecontent p { /*applies to Facts, What to Do, Take Action, Recognize Signs page*/
	margin-right: 400px;
	padding-right: 50px;
	padding-left: 25px;
}

/*What to do page*/
.subcontent .whattodo img {
	float: right;
	margin-top: 48px;
	margin-right:20px;
	padding-top: 5px;
	padding-right: 5px;
}
/*applies to What to Do page and Recognize Signs */
.list {
	
	margin-top: 20px;
}
	
/*Take action page*/	
	
.subcontent .takeaction img {
	float: right;
	margin-top: 48px;
	margin-right:20px;
	padding-top: 5px;
	padding-right: 5px;
}

.signslist {
	padding-top: 5px;
}

/*Awareness page*/
.video {
	margin-left: 30px;
	margin-top: 20px;
}
.subcontent .awareness {
	margin-right: 180px;
	margin-left: 25px;
	
}
.awareness a {
	text-decoration: none;
	color:#000;

}

.awareness a:hover {
	color: #000;
}


/*Facts page*/	
	
.subcontent .facts img {
	float: right;
	margin-top: 48px;
	margin-right:20px;
	padding-top: 5px;
	padding-right: 5px;
	
}


/*pledge form page*/
.form {
	background-color:#FFFFFF;
	border: solid thin #000;
	margin-top: 18px;
	margin-right: 200px;
	margin-left: 31px;
	margin-bottom: 60px;
	
	padding-bottom: 100px;

	
	
}	
.formtitle {
	font-size: 17px;
}
.form .formcontent {
	margin-right: 38px;
	padding-right: 10px;
	margin-left: 10px;
	
}


.formcheck {
	margin-top: 80px;
	margin-bottom: 100px;
	
}

.name {
	padding-left: 5px;
}




/*style form button */
	
.input {
	border: 1px solid #006;
	margin-left: 5px;
	padding-right: 50px;
	padding-top: 2px; 
}	


.button {
	float: right;
	margin-right: 80px;
	border: 1px solid #006;
    background: #f6efff;
}

/*sources page*/
.subcontent .sources {
	 margin-right: 320px;
	 padding-left: 27px;
	
}

.sources a {
	text-decoration:none;
	color:#000000;
}


/*sitemap page*/
 .sitemap  {
	margin-bottom: 400px;
	font-size: 16px;
	list-style: none;
}

	
.sitemap a {
	text-decoration: none;
	color:#000000;
}

	
.sitemaplist a:hover {
	color: #C0C;
}

.subsitemap {
	font-size: 14px;
	list-style-type: none;
}

