body {
	background-image: url(../images/bmdl_background_img.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #676674;
}
.wrapper {
	width: 1000px;
	height: 760px;
	background-color: #FFF;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}
.header {
	width: 978px;
	height: 76px;
	background-color: #C00;
}

#margin {
	margin-right: 15px;
}
#breadcrumbs {
	font-size: 9px;
	font-family:Verdana, Geneva,   		 		    sans-serif;
	color: #0085FB;
	height: 5px;
	width: 475px;
	margin-top: 10px;
}

.break {
	margin-top: 3px;
}

#home_break {
	height: 30px;
	width: 30px;
	margin-top: 75px;
}


/*FOOTER*/
#footer_left{
	width: 100px;
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	height: 20px;
}
#footer_right{
	width: 900px;
	float:right;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	height: 20px;
}
.footer {
	width: 980px;
	height: 20px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
	padding-left: 10px;
}
/*END FOOTER*/

/*IMAGES*/
.small_img_left {
	float:left;
	width: 224px;
	margin-top: 41px;
}
.small_img_right {
	float: right;
	width: 224px;
	margin-top: 41px;
}
.slideshow {
	float: left;
	height: 530px;
	width: 475px;
	margin-right: 25px;
}
.small_home_img {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #09F;
	border-right-color: #09F;
	border-bottom-color: #09F;
	border-left-color: #09F;
}
.main_img {
	margin-right: 25px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
.people_smiling {
	width: 477px;
	float: left;
}
#small_img_225 {
	margin-top: 290px;
	width: 215px;
	float: none;
}
/*END IMAGES*/


/*NAVIGATION*/
.current_page {
	color: #001FE1;
	font-weight: bold;
	}
	
a:link {
	color: #0085FB;
	text-decoration: none;
}

a:sub:link {
	color: #001FE1;
	text-decoration: none;
	font-weight: bold;
}

a:active {
	color: #0085FB;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #0085FB;
}

a.sub:visited {
	color: #001FE1;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	color: #001FE1;
}
.nav {
	text-align: right;
	list-style-type: none;
	float: left;
	height: 500px;
	width: 225px;
	font-family: Verdana, Geneva, 	    sans-serif;
	font-size: 19px;
	color: #0085FB;
	text-decoration: none;
	margin-right: 25px;
	margin-top: 85px;
}

.secondary_nav {
	font-size:14px;
	text-decoration: none;
	font-family:Verdana, Geneva, sans-serif;
	line-height: 44px;
	list-style-type: none;	
}
/*END NAVIGATION*/


.center_column_text {
	font-size: 12px;
	font-family:Verdana, Geneva,    sans-serif;
	color: #3D3D3D;
	width: 475px;
	float: left;
	height: 400px;
	margin-top: 25px;
}

.right_column {
	float: right;
	width: 230px;
	height: 400px;
	color: #3D3D3D;
	font-family:Verdana, Geneva,    sans-serif;
	font-size:12px;
	margin-top: 94px;
	padding-right: 25px;
}

.big_right_column {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	width: 240px;
	height: 500px;
	float: right;
	margin-top: 85px;
	padding-right: 10px;
}


.home_right_column {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	width: 240px;
	height: 500px;
	float: right;
	margin-top: 35px;
	margin-right: 10px;
}

.middle_column {
	float: left;
	width: 478px;
}



.form {
	color: #000;
	width: 196px;
	height: 132px;
	padding: 15px;
	float: right;
	margin-top: 25px;
	border: 1px #000 solid;
	background-color: #FFF;
}

.border {
	border: 1px solid #3D3D3D;
}

.link_border {
	border: 1px solid #0085FB;
}

.sources{
	width: 500px;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
}

h2 {
	font-size: 26px;
	color: #AD1902;
	font-family:"Arial Black",    	Gadget, sans-serif;
}
