/*desktop style*/



#wrap {
	width:960px;
	margin-top: 50px;
	margin-left: auto;
	margin-right:auto;
	
	}
/*body style*/

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 1.5em;
	color: #FFF;
	background-color: #000;
	background-image:url(../img/drivesafe-lines.png);
	background-position:center; 
	background-repeat: no-repeat;
	background-repeat: repeat-y;
	}
	
	
/* head*/
#header {
	float: left;
}

	
h1 { font-size:39px;
	margin-left:4px;
	margin-bottom:24px;
	margin-top:13px;
}

h2 { font-size:22px;
	 margin-bottom:23px;
	 margin-top:5px;
	 
}

/*margin between titles and texts*/
#tipstext .one, #container .one, #facttext .one {
	margin-top:-7px;
}

.death {
	color:#ee4518;
}


.serv {
	margin-left:148px;		
}


#text {
	width: 100%;
	float: right;
	height: 45px;
	width: 518px;
	margin-left:55px;
	margin-bottom:90px;
}


#logo {
	float:left;
}

#text h3 {
	width:600px;
	margin-left:5px;
	margin-top: 0px;
	padding-top: 0px;
}


#words h3 {
	margin-bottom:10px;
	margin-top:116px;
}

/*breadcrumbs*/
#breadcrumbs { 
	font-size:10px;
	margin-top:-9px;		   
}

/*main navigation*/
ul#nav {
	width: 140px;
	margin-right: 43px;
	margin-top: 37px;
	padding: 0px;
	list-style-type: none;	
}



#nav a {
	color: #000;
	text-decoration: none;
	text-align: center;
	display: block;
	margin-left: 12px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	border:thin solid #fff; /* added to stop navigation from moving down 1 px while hovering */
	background-color: #fff;
}


.nav { padding:0px;}

 
#nav a:hover, #nav li#youarehere a{
	width: 150px;
	border:thin solid #fff;
	margin: 0px;
	background-color:#ffcc00;
}


#nav li {
	margin-bottom:1px;
}


.nav {
	float: left;	
}


/*submenu style*/
.submenu {
	width: 100px;
	margin-left:19px;
	padding: 0px;
	list-style-type: none;
}


#nav .submenu a:hover, #nav li#imhere a {
	width:110px;
	background-color:#ffcc00;
	margin-left:0px;
}


/*images with text under*/
.action img, .action1 img, .dashed img, #apps .willnot img {
	border: 1px dashed #fff;
	margin-bottom:-15px;
}


.action a:hover img, .action1 a:hover img, .dashed img:hover, #apps .willnot img:hover  {
	border: 1px dashed #ffcc00
}


.action {
	float:right;
	clear:right;
	margin-left: 100px;
	margin-top: -112px;
} 


.action1 {
	float:right;
	clear:right;
	margin-left: 100px;
	margin-top: 9px;
}


#club .solution{
	margin-top:35px;
	margin-right:234px;

}



.solid img {
	border:#FFFFFF solid 1px;
	margin-bottom:4px;	
}

 /* for image opacity */

.action img:hover, .action1 img:hover, .dashed img:hover, #apps .willnot img:hover{
 opacity:0.8; 
 }
 
 
/*hovers*/ 
.love a:hover, .action a:hover, .action1 a:hover, .solution a:hover, #tipstext a:hover { 
	color:#ffcc00;
}
 
 
.love a, #breadcrumbs a, .action a, #footer a, .action1 a, #container a, #notfound a, .solution a, #tipstext a {
	color:#FFF;
	text-decoration:none;
}


#breadcrumbs a:hover, #footer a:hover, #container a:hover, #notfound a:hover {
	 color:#ffcc00;
} 

/*sidebar style*/ 
#sidebar {
	clear: left;
	float: left;
	margin-left:8px;
}


#main {
	margin-left:20px;
	float: left;
	margin-bottom:0px;
}


#contentwrap {
	margin-top: 0px;
	float: left;
	width: 100%;
}

#video1 {
	border:#FFFFFF 1px solid;
	width:512px;
	height:360px;
}


/* contentwrap p styles */
#two {
	margin-top: 5px;
}
#three {
	margin-bottom:0px;
}

/*sources page*/

#container {
	width:510px;
}



#tipstext {
	width:300px;
	padding:0;
}

#facttext{
	width:340px;
	float:right;
	margin-right:232px;
}

#man {
	width:300px;
	float:right;
	margin-right:186px;
	margin-top:9px;	
}

#apps .willnot{ 
	margin-top:0;
}



.willnot{
	margin-top:49px;
}

#apps .love {
	margin-top:15px;
}


#facts .love {
	margin-top:0px;
}

.solution{
	float:right;
	clear:right;
	margin-right:232px;
	margin-top:10px;
}

#join .solution {
	margin-top:10px;
	margin-right:233px;
}
/*site map list*/
#container ul li {
	font-size:20px;
	line-height:40px;	
}


#container .list {
	font-size:16px;
	line-height:36px;
	margin-left:50px;
}

.love {
	margin-top:0;
}

/*footer*/
#footer img {
	margin-bottom:-1px;
}

.copy {
	margin-left: 296px;
}



#footer {
	font-size:10px;
	bottom: 0px;
	left: 0px;
	margin-top:28px;
	margin-left:8px;
	float: left;
}


#videos #footer {
	margin-top:125px;
}

#sources #footer {
	margin-top:72px;
}

.bold {
	color:#ffcc00;
	}
#home #footer{
	margin-top:170px;
}

#tips #footer{
	margin-top:317px;
}

#facts #footer {
	margin-top:253px;
}


#sitemap #footer {
	margin-top:310px;
}


#club #footer {
	margin-top:303px;
}

#apps #footer {
	margin-top:295px;
}



/*getting rid of dotted lines on the links in firefox*/
a:focus {
	outline:none;
}

/*form style*/
#formborder {
	width:511px;
	border:2px #ffffff solid;
	padding-bottom:0px;
}

#formborder h2 {
	padding-left:15px;
	padding-top:10px;
	
}

table {
	
	margin-left:10px;
	margin-bottom:-10px;
}

label {
    display:block;
    padding-bottom:5px;
    margin-top:20px;
}
 
#contactform {
    width:900px;
    overflow:hidden;
}
 
#contactform li {
    list-style:none;
    padding-bottom:10px;
	margin-top:0px;
}

/*Textfield style*/
#contactform li .fieldbox {

    float:left;
    height:17px;
    padding-left:5px;
}
 
#contactform li .fieldbox input {
    border:#ffcc00 solid 1px;
	background-color:#000000;
    height:12px;
    padding-top:5px;
    width:400px;
}

/*Textarea style*/
#contactform li .msgbox {
    
    float:left;
    height:70px;
    padding-left:5px;


}
 
#contactform li .msgbox textarea {
    border:#ffcc00 solid 1px;
	background-color:#000000;
    height:60px;
    padding-top:5px;
    width:400px;    
}


/*Button Style*/
#sendbutton {
	
	margin-left:324px;
	margin-bottom:1px;
	margin-top:0;
	padding-top:0;
	background:#fff; color:#000;
	border:#ffffff solid 1px;
    cursor:pointer;
    padding:2px 6px;
}
#sendbutton:hover{
	background-color:#ffcc00;
}

#contactform p {
	margin:0;
	padding:0;
}