/*  Change width and height to match your graphic  */
ul.slideshow {
	list-style:none;
	width:699px;
	height:300px;
	overflow:hidden;
	position:relative;
	margin-right: 0;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 12px;
	padding:0;
	
}	

ul.slideshow li {
	position:absolute;
	left:0;
	right:0;
}

ul.slideshow li.show {
	z-index:500;	
}

ul.slideshow img {
	border:none;	
}

/*  Change width to match your graphic  */

#slideshow-caption {
	width:699px;
	height:40px;
	position:absolute;
	bottom:0;
	right:0;	
	color:#000;
	background:#889fd4;
	z-index:500;
	margin-left: 0px;
	font-family:Arial, Helvetica, sans-serif;
}

#slideshow-caption .slideshow-caption-container {
	padding:5px 10px;		
	z-index:1000;
}

#slideshow-caption h3 {
	margin:0;
	padding:0;	
	font-size:14px;
}

#slideshow-caption p {
	margin:5px 0 0 0;
	padding:0;
	font-size:16px;
}

